@use '../variables/_colors' as *;
@use '../mixins/mixins' as *;

.animated-text {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	gap: 50px;
    margin-top: -13px;

	&__inner {
		display: flex;
		gap: 35px;

		&:nth-child(odd) {
			.animated-text__block {
				&:nth-child(odd) {
					color: map-get($colors, 'background-red');
					text-shadow: -2px -2px 0 map-get($colors, 'main-white'), 2px -2px 0 map-get($colors, 'main-white'), -2px 2px 0 map-get($colors, 'main-white'), 2px 2px 0 map-get($colors, 'main-white');
					letter-spacing: .06em;
				} 

				&:nth-child(even) {
					color: map-get($colors, 'main-white');
				}
			}
		}

		&:nth-child(even) {
			.animated-text__block {
				&:nth-child(odd) {
					color: map-get($colors, 'main-white');
				}

				&:nth-child(even) {
					color: map-get($colors, 'background-red');
					text-shadow: -2px -2px 0 map-get($colors, 'main-white'), 2px -2px 0 map-get($colors, 'main-white'), -2px 2px 0 map-get($colors, 'main-white'), 2px 2px 0 map-get($colors, 'main-white');
					letter-spacing: .06em;
				}
			}
		}

		&_top {
			position: relative;
			transform: none;

			&.animated-text__inner_animated {
				animation: animate-top-frame .5s ease-in-out;
				
				.animated-text__items {
					animation: animate-text .5s linear infinite;
					animation-delay: 1s;
				}
	
				&.stop-animation {
					animation-play-state: paused;

					.animated-text__items {
						animation-play-state: paused;
					}
				}

				&_slow {
					.animated-text__items {
						animation: animate-text 20s linear infinite;
					}
				}
			}
		}

		&_bottom {
			position: relative;
			transform: none;

			&.animated-text__inner_animated {
				animation: animate-bottom-frame .5s ease-in-out;

				.animated-text__items {
					animation: animate-text .5s linear infinite;
					animation-delay: 1s;
					animation-direction: reverse;
				}
	
				&.stop-animation {
					animation-play-state: paused;

					.animated-text__items {
						animation-play-state: paused;
					}
				}

				&_slow {
					.animated-text__items {
						animation: animate-text 20s linear infinite;
						animation-direction: reverse;
					}
				}
			}
		}
	}

	&__items {
		display: flex;
		gap: 35px;
	}

	&__block {
		font-family: 'tt_commons_trialbold_italic';
		font-size: 120px;
		line-height: 100px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
	}
}

@keyframes animate-text {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes animate-top-frame {
	from {
		transform: translateX(100%);
	}

	to {
		transform: none;
	}
}

@keyframes animate-bottom-frame {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: none;
	}
}


