@use '../variables/_colors' as *;
@use '../mixins/mixins' as *;


.block-with-button {
	width: 438px;
	height: 584px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	position: absolute;
	z-index: 10;

	@include breakpointUi(lt-md) {
		width: 330px;
		height: 441px;
		top: 47%;
	}

	@media screen and (max-height: 700px) {
		top: 0;
		transform: translate(-50%, 0);
		position: relative;
	}

	.animated-opacity {
		animation: animate-opacity 2s ease-in-out;
	}

	.animated-disappear {
		display: none;
		opacity: 0;
		animation: animate-disappear 1s ease-in-out;
	}

	.animated-appear {
		display: block;
		opacity: 1;
		animation: animate-disappear 1s ease-in-out;
		animation-direction: reverse;
	}

	&__image {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		background: map-get($colors, 'main-white');

		&_animated {
			animation: block-with-button-animate .4s ease-in-out;
	
			&.stop-animation {
				animation-play-state: paused;
			}
		}
	}

	&__img {
		margin-top: 40px;
    	margin-left: -142px;

		@include breakpointUi(lt-md) {
			margin-top: 30px;
			margin-left: 0;
		}

		img {
			@include breakpointUi(lt-md) {
				width: 330px;
				height: 371px;
			}
		}
	}

	&__link {
		--size: 136px;
		position: absolute;
		z-index: 2;
		width: var(--size);
		height: var(--size);

		&_video {
			bottom: -69px;
			right: -67px;

			@include breakpointUi(lt-md) {
				right: unset;
				left: 50%;
				transform: translate(-50%, -50%);
				bottom: unset;
			}
		}

		&_go {
			bottom: -58px;
			right: -67px;

			@include breakpointUi(lt-md) {
				right: unset;
				left: 50%;
				transform: translate(-50%, -50%);
				bottom: unset;
			}
		}

		@include breakpointUi(lt-md) {
			--size: 100px;
		}
	}

	&__button {
		--size: 136px;
		width: var(--size);
		height: var(--size);

		@include breakpointUi(lt-md) {
			--size: 100px;
		}

		&_video {
			&:hover {
				path {
					fill: map-get($colors, 'background-red');
				}

				circle {
					stroke: map-get($colors, 'background-red');
				}
			}
	
			&:active {
				path {
					fill: map-get($colors, 'dark-red');
				}

				circle {
					stroke: map-get($colors, 'dark-red');
				}
			}
		}

		&_go {
			&:hover {
				circle {
					stroke: map-get($colors, 'background-red');
				}

				path {
					&:not(.path-stroke) {
						fill: map-get($colors, 'background-red');
					}
					
					&.path-stroke {
						stroke: map-get($colors, 'background-red');
					}
				}
			}
	
			&:active {
				circle {
					stroke: map-get($colors, 'dark-red');
				}

				path {
					&:not(.path-stroke) {
						fill: map-get($colors, 'dark-red');
					}
					
					&.path-stroke {
						stroke: map-get($colors, 'dark-red');
					}
				}
			}
		}
	}

	.video-wrapper {
		width: 438px;
		height: 584px;
		overflow: hidden;

		@include breakpointUi(lt-md) {
			width: 330px;
			height: 441px;
		}
	}

	#video-bike {
		width: 438px;
		height: auto;
		transform: scale(1.24) translate(0, -65px);

		@include breakpointUi(lt-md) {
			width: 330px;
			height: auto;
			transform: scale(1.24) translate(0, 15px);
		}
	}
}

.video-text-github {
	display: none;
	position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    padding: 40px;
    font-size: 30px;
    line-height: 1.5;
    z-index: 5;
    text-align: center;
}

@keyframes block-with-button-animate {
	from {
		transform: translate(0, 50%) rotate(7deg);
	}

	to {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes animate-opacity {
	from {
		opacity: .7;
	}

	to {
		opacity: 1;
	}
}

@keyframes animate-disappear {
	from {
		display: block;
		opacity: 1;
	}

	to {
		display: none;
		opacity: 0;
	}
}




