@use '../variables/_colors' as *;
@use '../mixins/mixins' as *;

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 80px;
	background: map-get($colors, 'main');
	color: map-get($colors, 'main-white');

	&__text {
		&_dark {
			color: #5A636B;
		}
	}

	&__link {
		color: map-get($colors, 'main-white');
		border-bottom: 1px solid currentColor;

		&:hover {
			color: map-get($colors, 'background-red');
		}
	}
}