@use '../variables/_colors' as *;
@use '../mixins/mixins' as *;

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 86px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 45px 0 60px;
	z-index: 100;
}

.nav-mobile-burger {
	--size: 40px;
	
	position: relative;
	width: var(--size);
	height: var(--size);
	cursor: pointer;
	display: none;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		width: 30px;
		height: 3px;
		left: 50%;
		transform: translate(-50%, -50%);
		background: map-get($colors, 'main');
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		width: 10px;
		height: 3px;
		left: 50%;
		transform: translate(-50%, -50%);
		background: map-get($colors, 'main');
		margin-top: 3px;
	}
}

.nav-buttons {
	display: flex;
	gap: 8px;

	&__link {
		padding: 32px 16px;
	}
}

.p-logo {
	width: 191px;
	height: 46px;
}

.header {
	&_absolute {
		position: absolute;
	}

	&_dark {
		.nav-buttons__link {
			@include text('main', 'md');

			&:hover {
				color: map-get($colors, 'white');
				background: map-get($colors, 'background-red');
			}
		}
	}

	&_light {
		.nav-buttons__link {
			@include text('white', 'md');

			&:hover {
				color: map-get($colors, 'background-red');
				background: map-get($colors, 'white');
			}
		}
	}
}

.animate-down {
	position: fixed;
	animation: animate-down 200ms ease-in-out;
}

@keyframes animate-down {
	from {top: -80px}
	to {top: 0}
}
