@use '../variables/_colors' as *;
@use '../mixins/mixins' as *;

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 86px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 45px 0 60px;
	z-index: 100;

	@include breakpointUi(lt-md) {
		padding: 0 10px;
		min-height: 62px;
	}
}

.nav-mobile-burger {
	--size: 40px;
	position: relative;
	width: var(--size);
	height: var(--size);
	cursor: pointer;
	display: none;

	@include breakpointUi(lt-md) {
		display: block;
	}

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		width: 30px;
		height: 3px;
		right: 0;
		margin-top: -4px;
		transform: translate(0, -50%);
		background: map-get($colors, 'main');
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		width: 10px;
		height: 3px;
		background: map-get($colors, 'main');
		margin-top: 3px;
		transform: translate(0, -50%);
		right: 0;
	}
}

.nav-buttons {
	display: flex;
	gap: 8px;

	@include breakpointUi(lt-md) {
		display: none;
		position: fixed;
		z-index: 70;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		flex-direction: column;
		text-align: center;
		gap: 0;
		align-items: center;
		justify-content: center;
		background: map-get($colors, 'main-white');
	}

	&_opened {
		@include breakpointUi(lt-md) {
			display: flex;
		}
	}

	&_close-mobile {
		display: none;
		position: absolute;
		top: 20px;
		right: 20px;
		--size: 40px;
		width: var(--size);
		height: var(--size);
		cursor: pointer;
		
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			width: 30px;
			height: 3px;
			left: 0;
			transform: translate(0, -50%) rotate(-45deg);
			background: map-get($colors, 'main');
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			width: 30px;
			height: 3px;
			left: 0;
			transform: translate(0, -50%) rotate(45deg);
			background: map-get($colors, 'main');
		}

		@include breakpointUi(lt-md) {
			display: block;
		}
	}

	&__link {
		padding: 16px 16px;

		@include breakpointUi(lt-md) {
			width: 100%;
			@include heading("3");
		}
	}
}

.header {
	&_absolute {
		position: absolute;
	}

	&_dark {
		.nav-buttons__link {
			@include text('main', 'md');

			@include breakpointUi(lt-md) {
				color: map-get($colors, 'main');
			}

			&:hover {
				color: map-get($colors, 'white');
				background: map-get($colors, 'background-red');
			}
		}
	}

	&_light {
		.nav-buttons__link {
			@include text('white', 'md');

			@include breakpointUi(lt-md) {
				color: map-get($colors, 'main');
			}

			&:hover {
				color: map-get($colors, 'background-red');
				background: map-get($colors, 'white');
			}
		}

		.nav-mobile-burger {
			&::before,
			&::after {
				@include breakpointUi(lt-md) {
					background: map-get($colors, 'main-white');
				}
			}
		}
	}
}

.animate-down {
	position: fixed;
	animation: animate-down 200ms ease-in-out;
}

@keyframes animate-down {
	from {top: -80px}
	to {top: 0}
}

svg#logo {
	width: 191px;
	height: 46px;

	@include breakpointUi(lt-md) {
		width: 125px;
		height: 30px;
	}
	
	path {
		fill: map-get($colors, 'main');

		&.fill-red {
			fill: map-get($colors, 'background-red');
		}
	}

	&.light {
		path {
			fill: map-get($colors, 'main-white');
		}
	}
}