@use '../variables/_colors' as *;
@use '../mixins/mixins' as *;

.hidden {
	display: none;
}

.p-wrapper {
	background: map-get($colors, 'background-light');
	overflow: hidden;
}

.top-block {
	max-width: 794px;
	position: relative;
	z-index: 10;
	margin-left: 50px;

	&__text {
		@include text('background-red', 'bg');
		font-family: 'tt_commons_trialitalic';
		margin-left: 10px;
	}

	&__h1 {
		@include heading('1');
		text-transform: uppercase;
		margin-bottom: 50px;
	}

	&__button-shape {
		transform: skewX(-15deg);
		border-radius: 3px;
		background: map-get($colors, 'background-red');
		display: block;
		width: 193px;
		height: 50px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	&__button-text {
		position: relative;
		z-index: 2;
	}

	&__button {
		display: block;
		position: relative;
		max-width: 195px;
		min-height: 50px;
		color: #F1F1F1;
		margin-left: 15px;
		padding: 14px 20px;
		color: map-get($colors, 'main-white');
		text-align: center;
		letter-spacing: 0.04em;
		text-transform: uppercase;

		&:hover {
			.top-block__button-shape {
				box-shadow: 7px 7px 0px map-get($colors, 'dark-red');
			}
		}
	
		&:active {
			.top-block__button-shape {
				box-shadow: none;
				background: map-get($colors, 'dark-red');
			}
		}
	}
}

section {
	min-height: 100vh;
    position: relative;

	@media screen and (max-height: 700px) {
		min-height: unset;
	}
}

.section {
	&__h2 {
		@include heading('2');
		text-transform: uppercase;
		margin-bottom: 20px;
		text-align: center;
	}

	&-1 {
		padding-top: 184px;
		padding-bottom: 180px;

		&::after {
			content: "";
			top: 0;
			right: -243px;
			transform: skewX(-6.3deg);
			width: 653px;
			height: 100%;
			background: map-get($colors, 'background-red');
			z-index: 1;
			display: block;
			position: absolute;
		}
	}

	&-2 {
		background: map-get($colors, 'background-red');

		@media screen and (max-height: 700px) {
			padding: 106px 0;
		}
	}

	&-3 {
		background: map-get($colors, 'background-red');

		@media screen and (max-height: 700px) {
			padding: 106px 0;
		}
	}

	&-4 {
		background: map-get($colors, 'background-light');
		display: flex;
    	flex-direction: column;
		padding-top: 183px;

		form {
			flex: 1;
		}
	}
}
  
.top-bike {
	position: absolute;
	z-index: 2;
	top: 68px;
    right: 14px;
}

.animated-text {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	gap: 50px;
    margin-top: -13px;

	&__inner {
		display: flex;
		gap: 35px;

		&:nth-child(odd) {
			.animated-text__block {
				&:nth-child(odd) {
					color: map-get($colors, 'background-red');
					text-shadow: -2px -2px 0 map-get($colors, 'main-white'), 2px -2px 0 map-get($colors, 'main-white'), -2px 2px 0 map-get($colors, 'main-white'), 2px 2px 0 map-get($colors, 'main-white');
					letter-spacing: .06em;
				} 

				&:nth-child(even) {
					color: map-get($colors, 'main-white');
				}
			}
		}

		&:nth-child(even) {
			.animated-text__block {
				&:nth-child(odd) {
					color: map-get($colors, 'main-white');
				}

				&:nth-child(even) {
					color: map-get($colors, 'background-red');
					text-shadow: -2px -2px 0 map-get($colors, 'main-white'), 2px -2px 0 map-get($colors, 'main-white'), -2px 2px 0 map-get($colors, 'main-white'), 2px 2px 0 map-get($colors, 'main-white');
					letter-spacing: .06em;
				}
			}
		}
	}

	&__block {
		font-family: 'tt_commons_trialbold_italic';
		font-size: 120px;
		line-height: 100px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
	}
}

.block-with-button {
	width: 438px;
	height: 584px;
	background: map-get($colors, 'main-white');
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 10;

	@media screen and (max-height: 700px) {
		top: 0;
		transform: translate(-50%, 0);
		position: relative;
	}

	&__image {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	&__img {
		margin-top: 40px;
    	margin-left: -142px;
	}

	&__button {
		--size: 136px;
		position: absolute;
		z-index: 2;
		width: var(--size);
		height: var(--size);
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&_video {
			bottom: -69px;
			right: -67px;

			&:hover {
				path {
					fill: map-get($colors, 'background-red');
				}

				circle {
					stroke: map-get($colors, 'background-red');
				}
			}
	
			&:active {
				path {
					fill: map-get($colors, 'dark-red');
				}

				circle {
					stroke: map-get($colors, 'dark-red');
				}
			}
		}

		&_go {
			bottom: -58px;
			right: -67px;

			&:hover {
				circle {
					stroke: map-get($colors, 'background-red');
				}

				path {
					&:not(.path-stroke) {
						fill: map-get($colors, 'background-red');
					}
					
					&.path-stroke {
						stroke: map-get($colors, 'background-red');
					}
				}
			}
	
			&:active {
				circle {
					stroke: map-get($colors, 'dark-red');
				}

				path {
					&:not(.path-stroke) {
						fill: map-get($colors, 'dark-red');
					}
					
					&.path-stroke {
						stroke: map-get($colors, 'dark-red');
					}
				}
			}
		}
	}

	.video-wrapper {
		width: 438px;
		height: 584px;
		overflow: hidden;
	}

	#video-bike {
		width: 438px;
		height: auto;
		transform: scale(1.24) translate(0, -65px);
	}
}


