@use '../variables/_colors' as *;
@use '../mixins/mixins' as *;

.hidden {
	display: none;
}

.p-wrapper {
	background: map-get($colors, 'background-light');
	overflow: hidden;
	position: relative;
}

.top-block {
	max-width: 794px;
	position: relative;
	z-index: 10;
	margin-left: 50px;

	@include breakpointUi(lt-md) {
		margin-left: 0;
	}

	&__text {
		@include text('background-red', 'bg');
		font-family: 'tt_commons_trialitalic';
		margin-left: 10px;

		@include breakpointUi(lt-md) {
			@include text('background-red', 'md');
			text-align: center;
			margin-bottom: 10px;
			margin-left: 0;
		}
	}

	&__h1 {
		@include heading('1');
		text-transform: uppercase;
		margin-bottom: 50px;

		@include breakpointUi(lt-lg) {
			@include heading('3');
			max-width: 360px;
			padding: 0 20px;
		}

		@include breakpointUi(lt-md) {
			text-align: center;
			margin: 0 auto 30px;
		}
	}

	&__button-shape {
		transform: skewX(-15deg);
		border-radius: 3px;
		background: map-get($colors, 'background-red');
		display: block;
		width: 193px;
		height: 50px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		@include breakpointUi(lt-md) {
			height: 44px;
			width: 190px;
		}
	}

	&__button-text {
		position: relative;
		z-index: 2;
	}

	&__button {
		display: block;
		position: relative;
		max-width: 195px;
		min-height: 50px;
		margin-left: 15px;
		padding: 14px 20px;
		color: map-get($colors, 'main-white');
		text-align: center;
		letter-spacing: 0.04em;
		text-transform: uppercase;

		@include breakpointUi(lt-md) {
			margin: 0 auto 30px;
			min-height: 44px;
			max-width: 190px;
			padding: 12px 15px;
		}

		&:hover {
			.top-block__button-shape {
				box-shadow: 7px 7px 0px map-get($colors, 'dark-red');
			}
		}
	
		&:active {
			.top-block__button-shape {
				box-shadow: none;
				background: map-get($colors, 'dark-red');
			}
		}
	}
}

section {
	min-height: 100vh;
    position: relative;

	@media screen and (max-height: 700px) {
		min-height: unset;
	}
}

.section {
	&__h2 {
		@include heading('2');
		text-transform: uppercase;
		margin-bottom: 20px;
		text-align: center;

		@include breakpointUi(lt-lg) {
			@include heading('3');
			padding: 0 20px;
		}

		@include breakpointUi(lt-md) {
			margin-bottom: 40px;
		}
	}

	&-1 {
		padding-top: 184px;
		padding-bottom: 180px;

		@include breakpointUi(lt-md) {
			overflow: hidden;
			padding-top: 100px;
			padding-bottom: 80px;
		}

		&::after {
			content: "";
			top: 0;
			right: -243px;
			transform: skewX(-6.3deg);
			width: 653px;
			height: 100%;
			background: map-get($colors, 'background-red');
			z-index: 1;
			display: block;
			position: absolute;

			@include breakpointUi(lt-md) {
				top: unset;
				right: unset;
				bottom: -50px;
				transform: skewY(5.5deg);
				width: 100%;
				height: 250px;
			}
		}
	}

	&-2 {
		background: map-get($colors, 'background-red');

		@media screen and (max-height: 700px) {
			padding: 106px 0;

			@include breakpointUi(lt-md) {
				padding: 180px 0;
			}
		}
	}

	&-3 {
		background: map-get($colors, 'background-red');

		@media screen and (max-height: 700px) {
			padding: 106px 0;

			@include breakpointUi(lt-md) {
				padding: 180px 0;
			}
		}
	}

	&-4 {
		background: map-get($colors, 'background-light');
		display: flex;
    	flex-direction: column;
		padding-top: 183px;

		@include breakpointUi(lt-md) {
			padding-top: 177px;
		}

		form {
			flex: 1;
		}

		&.animated-background {
			animation: animate-background .6s linear;
		}
	}
}
  
.top-bike {
	position: absolute;
	z-index: 2;
	top: 68px;
    right: 14px;

	&__img {
		@include breakpointUi(lt-lg) {
			width: 600px;
			height: 505px;
		}

		@include breakpointUi(lt-md) {
			width: 360px;
			height: 405px;
			margin: 0 auto;
        	display: block;
		}
	}

	@include breakpointUi(lt-md) {
		position: relative;
		top: 32px;
        right: 4px;
	}
}


@keyframes animate-background {
	from {
		background: map-get($colors, 'background-red');
	}

	to {
		background: map-get($colors, 'background-light');
	}
}
