@use "../variables/heading" as *;

// @include heading('2');

@mixin heading(
  $size: null,
) {
  margin-top: 0;
  font-size: map-get($heading--font-size, $size);
  line-height: map-get($heading--line-heights, $size);
  letter-spacing: map-get($headings--letter-spacing, $size);
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
}