@use "colors" as *;

$heading-color: map-get($colors, "main");
$heading-font-weight: 400;
$heading-font-family: 'soviet_fontregular', Arial, sans-serif;

$heading--font-size: (
    "1": 100px,
    "2": 60px,
    "3": 40px,
);

$heading--line-heights: (
    "1": 150px,
    "2": 150px,
    "3": 60px,
);

$headings--letter-spacing: (
	"1": 0.02em,
    "2": 0.02em,
    "3": 0.02em,
);